<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Oxygen+Mono&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style>
        body {
            max-width: 900px;
            margin: 0 auto;
            background-color: #eae6e2;
            color: #444e54;
        }

        main {
            margin-top: 30px;
        }

        hr {
            max-width: 800px;
            margin: 48px;
            border: 1px solid #686d80;
        }

        .search-form {
            margin: 20px 25px;
            padding: 5px 10px;
            width: 300px;
            border-radius: 5px;
            border: 2px solid #332b1d;
            font-family: "Oxygen Mono", monospace;
            font-size: 12px;
        }

        button {
            display: inline-block;
            border: 2px solid #332b1d;
            border-radius: 5px;
            padding: 5px 10px;
            font-family: "Oxygen Mono", monospace;
            font-size: 12px;
            background-color: #d0cd8f;
        }

        button:hover {
            background-color: #b9b559;
        }

        .measurements {
            position: relative;
            left: 25px;
            top: -10px;
        }

        .current-weather {
            margin-top: 50px;
        }

        .city-title {
            max-width: 300px;
            font-size: 32px;
            font-weight: bold;
        }

        .temp-title {
            /* color: #37718e; */
            font-size: 140px;
            font-family: "Inter", sans-serif;
            text-align: center;
        }

        .todays-info {
            margin: 15px 0;
        }

        .side-info {
            position: relative;
            left: 72px;
        }

        p,
        ul {
            font-family: "Oxygen Mono", monospace;
            font-size: 15px;
        }

        li {
            list-style: none;
        }

        .week-forecast {
            text-align: center;
            font-family: "Inter", sans-serif;
        }

        .weather {
            margin-top: 2px;
            margin-bottom: 6px;
            font-size: 14px;
        }

        h2 {
            font-size: 48px;
        }

        h3 {
            font-size: 22px;
            margin-bottom: -18px;
        }

        span {
            font-size: 20px;
        }

        footer {
            position: relative;
            bottom: -100px;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: #0a95c9;
        }

        a:hover {
            color: #007bff;
        }
    </style>
    <title>Weather App</title>
</head>

<body>
    <main>
        <!-- search bar and city name -->
        <section class="container">
            <div class="row">
                <form class="col" id="search-form">
                    <input type="text" id="search-input" aria-describedby="searchCity" placeholder="Search city..."
                        class="search-form" autocomplete="off" />
                    <button type="submit">Search</button>
                </form>
                <h1 class="col d-flex justify-content-center align-items-center city-title" id="searched-city">
                    Bristol
                </h1>
            </div>
            <span class="measurements">
                <a href="#" id="celcius-link">C°</a> |
                <a href="#" id="fahrenheit-link">F°</a>
            </span>
        </section>

        <!-- temp and day info -->
        <section class="current-weather">
            <div class="container">
                <div class="row">
                    <h1 class="col temp-title" id="current-temperature">4°</h1>
                    <div class="col todays-info">
                        <p id="current-time">11:00</p>
                        <h2 id="current-day">Today</h2>
                        <p id="weather-type">Cloudy</p>
                    </div>
                    <div class="col d-flex align-items-center side-info">
                        <ul>
                            <li>Humidity: <span id="humidity"></span></li>
                            <li>Wind: <span id="wind"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
        </section>

        <!--5 day forecast-->
        <section class="container">
            <div class="row week-forecast">
                <div class="col">
                    <h3>Fri</h3>
                    <br /><img src="https://img.icons8.com/color-glass/42/000000/rain.png" /><br />
                    <p class="weather">Rain</p>
                    <span>2°</span>
                </div>
                <div class="col">
                    <h3>Sat</h3>
                    <br /><img src="https://img.icons8.com/color-glass/42/000000/cloud.png" /><br />
                    <p class="weather">Cloudy</p>
                    <span>4°</span>
                </div>
                <div class="col">
                    <h3>Sun</h3>
                    <br /><img src="https://img.icons8.com/color-glass/42/000000/partly-cloudy-day.png" /><br />
                    <p class="weather">Partly cloudy</p>
                    <span>6°</span>
                </div>
                <div class="col">
                    <h3>Mon</h3>
                    <br /><img src="https://img.icons8.com/color-glass/42/000000/sun.png" /><br />
                    <p class="weather">Sunny</p>
                    <span>8°</span>
                </div>
                <div class="col">
                    <h3>Tues</h3>
                    <br /><img src="https://img.icons8.com/color-glass/42/000000/wind.png" /><br />
                    <p class="weather">Windy</p>
                    <span>5°</span>
                </div>
            </div>
        </section>

        <footer>
            <p>
                Designed and coded by
                <a href="https://github.com/Tumekab" target="_blank">Tumeka</a><span>✌🏼</span>
            </p>
        </footer>
    </main>
</body>

</html>